/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.minimodiv {
	float: left;
}
.ul {
	float: right;
}
.minimo {
	font-size: 30px;
	font-family: 'Inconsolata', monospace;
	letter-spacing: 2px;
}
.li {
	font-size: 14px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 10px 0px 0 100px;
}
header {
	padding: 60px;
	position: -webkit-sticky;
	position: sticky;
}
section {
	padding: 0 60px 0 60px;
}
.firsttextdiv {
	padding: 30px 150px 100px 150px;
}
h1 {
	font-size: 30px;
	margin-bottom: 30px;
	margin-top: 10px;
	background-color: #F2D7D7;
	display: inline-block;
}
.h5 {
	font-size: 14px;
	margin-bottom: 30px;
	background-color: #F2D7D7;
	display: inline-block;
	margin:100px 150px 0 150px;
}
.firstp {
	font-size: 14;
	background-color: #F2D7D7;
	background-size: auto;
	font-family: 'Playfair Display', serif;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5em
}
.input {
	margin-top:  30px;
	width: 100%;
	border: none;
	background-color: none;
}
.section2img {
	width: 420px;
}
.section2divs {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 420px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 60px 0 0 60px;
}
.section2firstdiv {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.footer {
	height: 97px;
	background-color: #f0f0f0;
}
.section3{
	background-color: #F0F0F0;
	padding: 2% 2% 2% 45% ;
}
.section3div {
 	border-bottom: 1px solid black;
 	width: 190px;
}
.send {
	width: 32px;
}
.input2 {
	display: inline-block;
	margin-top:  30px;
	border: none;
	background-color: #F0F0F0;
	width: 150px;
}
.section4 {
	height: 400px;
	background-color: grey;
}

















